<h1 id="title" class="text-center mt-4">Log in</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-2 bg-info rounded", local: true) do |form| %>
        <div class="form-group row">
          <%= form.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.email_field :email, class: "form-control shadow rounded", placeholder: 'Enter your email' %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :password, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.password_field :password, class: "form-control shadow rounded", placeholder: 'Enter your password' %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= form.submit "Log in", class: "btn btn-outline-light bt-bg" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to "Cancel and return to Homepage", root_path, class: "btn btn-outline-secondary btn-sm"%>
    </div>
  </div>
</div>