<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', object: article%>
      <%= form_with(model: article, class: "shadow p-3 mb-2 bg-info rounded", local: true) do |form| %>
        <div class="form-group row">
          <%= form.label :title, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article (100 characters max.)" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :description, class: "col-2 col-form-label text-light"%>
          <div class="col-10">
            <%= form.text_area :description, rows: 10, maxlength: 1000, class: "form-control shadow rounded", placeholder: "Description of article (1000 characters max.)" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :category, class: "col-2 col-form-label text-light"%>
          <div class="col-10">
            <%= form.collection_select(:category_ids, Category.all, :id, :name,
            { prompt: 'Tag your article with the items of the list (can be empty)' }, { multiple: true, size: 3, class: 'custom-select shadow rounded' }) %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= form.submit class: "btn btn-outline-light bt-bg" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3 mt-4">
      <%= link_to "Cancel and return to Articles", articles_path(article), class: "btn btn-outline-secondary btn-sm"%>
    </div>
  </div>
</div>