
<h1 id="title" class="text-center mt-4">Nomada articles</h1>
<div class="container">
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
  <% end %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>