
<h1 id="title" class="text-center mt-4"><%= @article.title %></h1>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card shadow mb-5 bg-white rounded text-center">
        <div class="card-header font-italic">
          by <%= link_to @article.user.username, user_path(@article.user), class: "header-link" if @article.user %>
          <div class="mt-2"><%= link_to gravatar_for(@article.user, size: 120), user_path(@article.user) %></div>
          <% if @article.categories.any? %>
            <div class="mt-2"><%= render @article.categories %></div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-left"><%= simple_format(@article.description) %></div>
          <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-success"%>
            <%= link_to "Delete", @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"%>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small> Created <%= time_ago_in_words(@article.created_at) %> ago,
            edited <%= time_ago_in_words(@article.updated_at) %> ago </small>
        </div>
      </div>
    </div>
  </div>
</div>