<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', object: user%>
      <%= form_with(model: user, class: "shadow p-3 mb-2 bg-info rounded", local: true) do |form| %>
        <div class="form-group row">
          <%= form.label :username, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.text_field :username, maxlength: 25, class: "form-control shadow rounded", placeholder: 'Type your username' %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.email_field :email, maxlength: 105, class: "form-control shadow rounded", placeholder: 'Type your email' %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :avatar, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <label class="mt-2 btn btn-light btn-sm">
              Upload your photo or avatar (5 MB max)
              <span style="display:none;">
                <%= form.file_field :avatar %>
              </span>
            </label>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :password, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.password_field :password, class: "form-control shadow rounded", placeholder: 'Type your password' %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= form.submit(user.new_record? ? "Sign up" : "Update profile", class: "btn btn-outline-light bt-bg") %>
        </div>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="mb-3 mt-4">
        <%= link_to "I want to delete my account", user_path(user), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to "Cancel and return to Homepage", root_path, class: "btn btn-outline-secondary btn-sm"%>
      </div>
    <% end %>
  </div>
</div>