<div class="row justify-content-md-center">
  <div class="col-8 mt-4">
    <div class="card shadow mb-5 bg-white rounded text-center">
      <div class="card-header font-italic">
        <%= link_to user.username, user, class: "header-link" %>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar, alt: user.username, height: 100, class: 'shadow rounded' %>
          <% else %>
            <%= image_tag 'avatar.png', alt: 'avatar', height: 100, class: 'shadow rounded' %>
          <% end %>
        </h5>
        <p class="card-text"><%= pluralize(user.articles.count, 'article') %> posted</p>
        <%= link_to "View profile", user, class: "btn btn-outline-info"%>
        <% if logged_in?%>
          <% if current_user == user || current_user.admin? %>
            <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-success"%>
          <% end %>
          <% if current_user.admin? %>
            <%= link_to "Delete profile", user_path(user), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'This action will delete the profile and all related articles, are you sure?' } %>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
      </div>
    </div>
  </div>
</div>