
<h1 id="title" class="text-center mt-4">Nomada Community</h1>
<div class="container">
  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
  <% @users.each do |user| %>
    <%= render 'user', user: user %>
  <% end %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @users, :container => false %>
  </div>
</div>