<h1 id="title" class="text-center mt-4"><%= @user.username.capitalize %>'s profile</h1>
<div class="text-center mt-4">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, alt: @user.username, height: 200, class: 'shadow rounded' %>
  <% else %>
    <%= image_tag 'avatar.png', alt: 'avatar', height: 200, class: 'shadow rounded' %>
  <% end %>
</div>

<% if logged_in? && (current_user == @user || current_user.admin?) %>
  <div class="text-center mt-4">
    <%= link_to 'Edit your profile', edit_user_path(@user), class: 'btn btn-outline-success'%>
  </div>
<% end %>

<h3 id="title" class="text-center mt-4">Articles</h3>
<div class="container">
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <% @articles.each do |article| %>
    <%= render 'articles/article', article: article %>
  <% end %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>