
<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Nomada Blog</h1>
    <p class="lead">Meet this amazing blog and share with all members your stories, tips and all the destinies where you have traveled.</p>
    <hr class="my-4">
    <p>Join us in Nodama community to create your articles, tag them and see other wonderful articles.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-light btn-lg"%>
  </div>
</div>