.navbar {
  background-color: #54b1f3 !important;
}

.nav-link {
  color: white !important;
}

#home-container {
  margin-top: 28px;
}

.header-link {
  color: white !important;
  // font-weight: bold;
}

.header-link:hover {
  background-color: transparent !important;
}

.link-card {
  background-color: transparent !important;
}

.jumbotron {
  background-image: asset-url('home-man.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  h1, p {
    text-shadow: black 0.3em 0.3em 0.3em;
  }
}

.card-header, .card-footer {
  color: white !important;
  background-color: #54b1f3 !important;
}

#title {
  color: #33a0ee;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

html,
body {
  height: 100%;
  margin: 0 !important;
}

#page-content {
  flex: 1 0 auto;
  background-color: aliceblue;
}

#sticky-footer {
  flex-shrink: none;
  color: white !important;
  background-color: #54b1f3 !important;
}

/* pagination styling */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;
  }
  .flickr_pagination .disabled {
    color: #32a4f5; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #32a4f5; }
  .flickr_pagination a {
    border: 1px solid #32a4f5;
    color: #54b1f3 !important;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #0692f7;
      background: #54b1f3;
      color: white !important; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
