<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', object: category%>
      <%= form_with(model: category, class: "shadow p-3 mb-2 bg-info rounded", local: true) do |form| %>
        <div class="form-group row">
          <%= form.label :name, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.text_field :name, minLength: 3, maxlength: 25, class: "form-control shadow rounded", placeholder: "Name of category" %>
            <label class="mt-2 btn btn-light">
              Choose category image
              <span style="display:none;">
                <%= form.file_field :image %>
              </span>
            </label>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <%= form.submit class: "btn btn-outline-light bt-bg" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3 mt-4">
      <%= link_to "Cancel and return to categories", categories_path, class: "btn btn-outline-secondary btn-sm"%>
    </div>
  </div>
</div>