<h1 id="title" class="text-center mt-4">Nomada Categories</h1>
<div class="container">
  <div class="flickr_pagination">
    <%= will_paginate @categories, :container => false %>
  </div>
  <% @categories.each do |category| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card shadow mb-5 bg-white rounded text-center">
          <div class="card-header font-italic">
            <%= link_to category.name, category, class: "header-link" %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <% if category.image.attached? %>
                <%= image_tag category.image, alt: category.name, height: 120, class: 'shadow rounded' %>
              <% end %>
            </h5>
            <p class="card-text"><%= pluralize(category.articles.count, 'article') %> posted for this category</p>
            <%= link_to "View category", category, class: "btn btn-outline-info"%>
            <% if logged_in? && current_user.admin? %>
              <%= link_to "Edit category name", edit_category_path(category), class: "btn btn-outline-success"%>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small> </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @categories, :container => false %>
  </div>
</div>