<h1 id="title" class="text-center mt-4">Category [<%= @category.name %>]</h1>
<% if logged_in? && current_user.admin? %>
  <div class="text-center mt-4">
    <%= link_to 'Edit category name', edit_category_path(@category), class: 'btn btn-outline-success'%>
  </div>
<% end %>
<div class="text-center mt-4">
  <% if @category.image.attached? %>
    <%= image_tag @category.image, alt: @category.name, height: 320, class: 'shadow rounded' %>
  <% end %>
</div>

<h3 id="title" class="text-center mt-4">Articles</h3>
<div class="container">
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <% @articles.each do |article| %>
    <%= render 'articles/article', article: article %>
  <% end %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>